.Day-wind-direction {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url('https://www.metaweather.com/static/img/windarrow.svg');
    background-size: 100% 100%;
}

.Day-weather-state {
    font-style: italic;
}
