.Login-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../weather.jpg) repeat;
}

.Login-form {
    width: 20em;
    margin: 7em auto auto;
    background-color: white;
    text-align: center;
    font-size: 1.2em;
    padding-top: 6px;
    padding-bottom: 20px;
    border: 1px solid darkslategray;
}

.Login-button {
    width: fit-content;
    height: fit-content;
    padding: 15px 22px;
    border-radius: 0;
    border: 1px solid darkslategray;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
}

.Login-button:hover {
    background-color: white;
    color: cornflowerblue;
}

.Login-username,
.Login-password {
    height: 28px;
    line-height: 30px;
    font-size: 1em;
}
