.Weather-app,
.Weather-city {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
}

#preload{
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white url(../Spinner-3.gif) center center no-repeat;
    background-size:60px;
}
